<div class="moviecard">
    <div [routerLink]="['/movie/',Moviecard.id]" *ngIf="Moviecard" >
        <div class="header">
            <img class="image" src="{{'http://image.tmdb.org/t/p/w300'+Moviecard.poster_path}}">
        </div>
        <div class="content">
            <div class="rating" >
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart" [class.green]="Moviecard.vote_average>7"  [class.orange]="(Moviecard.vote_average<7&&Moviecard.vote_average>4)"   [class.red]="Moviecard.vote_average<4"   >
                      <path class="circle-bg"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                      <path class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                      <text x="18" y="20.35" class="percentage">{{Moviecard.vote_average*10}}</text>
                    </svg>
                </div>
            </div>
            <h2 class="title">{{ Moviecard.title | slice:0:28 }}</h2>
            <p class="release">{{ Moviecard.release_date || Moviecard.first_air_date }}</p>
        </div>
    </div>
    <div [routerLink]="['/tv/',Tvcard.id]" *ngIf="Tvcard" >
        <div class="header">
            <img class="image" src="{{'http://image.tmdb.org/t/p/w185'+Tvcard.poster_path}}">
        </div>
        <div class="content">
            <div class="rating" >
                <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart" [class.green]="Tvcard.vote_average>7"  [class.orange]="(Tvcard.vote_average<7&&Tvcard.vote_average>4)"   [class.red]="Tvcard.vote_average<4"   >
                      <path class="circle-bg"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                      <path class="circle"
                        stroke-dasharray="30, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                      <text x="18" y="20.35" class="percentage">{{Tvcard.vote_average*10}}</text>
                    </svg>
                </div>
            </div>
            <h2 class="title">{{ Tvcard.name| slice:0:28 }}</h2>
            <p class="release">{{ Tvcard.first_air_date || Tvcard.release_date}}</p>
        </div>
    </div>
</div>