<div class="trending">
    <div class="header">
        <h3 class="heading">Popular</h3>
        <div class="toggle">
            <a class="toggle-item" [class.active-item]="display==='streaming'" (click)="display='streaming'" >Streaming</a>
            <a class="toggle-item" [class.active-item]="display==='ontv'" (click)="loadOntv()" >On Tv</a>
            <a class="toggle-item" [class.active-item]="display==='intheaters'" (click)="loadInTheaters()" >In Theaters</a>
        </div>
    </div>
    <div class="trending-cards">
        <ng-container *ngIf="display==='streaming'" >
            <app-moviecard *ngFor="let popularEl of Streaming" [Moviecard]="popularEl"></app-moviecard>
        </ng-container>
        <ng-container *ngIf="display==='ontv'" >
            <app-moviecard *ngFor="let popularEl of Ontv" [Tvcard]="popularEl"></app-moviecard>
        </ng-container>
        <ng-container *ngIf="display==='intheaters'" >
            <app-moviecard *ngFor="let popularEl of Intheaters" [Moviecard]="popularEl"></app-moviecard>
        </ng-container>
    </div>
</div>

