<ng-template #vedioContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="vedioKey" class="modal-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" type="text/html" [src]="safeURL" frameborder="0" allowfullscreen></iframe>
    </div>
</ng-template>


<!--<iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/7pT7Hhpoemc?enablejsapi=1&origin=http://example.com"
  frameborder="0"></iframe>-->
