<div class="home">
    <div class='car' *ngIf="CarousalData">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of CarousalData">
            <div class="picsum-img-wrapper">
              <img src="{{'http://image.tmdb.org/t/p/w1280'+item.backdrop_path}}" class="img-fluid rounded carousel-image" alt={{item.title}}>
            </div>
            <div class="carousel-caption">
              <h3 class="title">{{item.title || item.name}}</h3>
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
    <div class="trending" *ngIf="Streaming">
        <div class="header">
            <h3 class="heading">What's Popular</h3>
            <div class="toggle">
                <a class="toggle-item" [class.active-item]="display==='streaming'" (click)="display='streaming'"><p [class.toggle-active-text]="display==='streaming'" class="toggle-text">Streaming</p></a>
                <a class="toggle-item"  [class.active-item]="display==='ontv'" (click)="loadOntv()" ><p [class.toggle-active-text]="display==='ontv'" class="toggle-text">On Tv</p></a>
                <a class="toggle-item" [class.active-item]="display==='intheaters'" (click)="loadInTheaters()" ><p [class.toggle-active-text]="display==='intheaters'" class="toggle-text">In Theaters</p></a>
            </div>
        </div>
        <div class="trending-cards">
            <ng-container *ngIf="display==='streaming'" >
                <app-moviecard *ngFor="let popularEl of Streaming" [type]="'movie'" [card]="popularEl"></app-moviecard>
            </ng-container>
            <ng-container *ngIf="display==='ontv'" >
                <app-moviecard *ngFor="let popularEl of Ontv" [type]="'tv'" [card]="popularEl"></app-moviecard>
            </ng-container>
            <ng-container *ngIf="display==='intheaters'" >
                <app-moviecard *ngFor="let popularEl of Intheaters" [type]="'movie'" [card]="popularEl"></app-moviecard>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="trendingToday">
      <div class="trailer-trending" [style.background-image]="'linear-gradient(to right, rgba(3,37,65, 0.60) 0%, rgba(3,37,65, 0.60) 100%), url(http://image.tmdb.org/t/p/w780'+backgroundImage+')'" >
          <div class="trailer-header">
              <h3 class="trailer-heading">Trailers</h3>
          </div>
          <div class="trailers">
              <div  *ngFor="let trailerEl of trendingToday">
                  <div class="trailercard" (click)="openVedio(trailerEl.id)">
                      <div class="cardheader" >
                          <img *ngIf="trailerEl.backdrop_path" class="image" src="{{'http://image.tmdb.org/t/p/w300'+trailerEl.backdrop_path}}"  (mouseover)="backgroundImage=trailerEl.backdrop_path">
                          <img *ngIf="!trailerEl.backdrop_path" class="image" src="../../assets/mm-default-profile-picture.png">
                          <svg viewBox="0 0 16 16" class="bi bi-play-fill play" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                          </svg>
                      </div>
                      <div class="content">
                          <p class="trailer-title">{{ trailerEl.title || trailerEl.name }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </ng-container>
    <div class="trending" *ngIf="trendingToday">
        <div class="header">
            <h3 class="heading">Trending</h3>
            <div class="toggle">
                <a class="toggle-item" [class.active-item]="today" (click)="today=true" ><p [class.toggle-active-text]="today" class="toggle-text">Today</p></a>
                <a class="toggle-item" [class.active-item]="!today" (click)="changeList()" ><p [class.toggle-active-text]="!today" class="toggle-text">This Week</p></a>
            </div>
        </div>
        <div class="trending-cards">
            <ng-container *ngIf="today" >
                <app-moviecard *ngFor="let trendingEl of trendingToday" [type]="'movie'" [card]="trendingEl"></app-moviecard>
            </ng-container>
            <ng-container *ngIf="!today" >
                <app-moviecard *ngFor="let trendingEl of trendingWeek" [type]="'movie'" [card]="trendingEl"></app-moviecard>
            </ng-container>
        </div>
    </div>

</div>
